table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr.excessStyle {
    color: red;
}

tr.nonExcessStyle {
    color: green;
}

th {
    background-color: #9153b1;
    color: white;
}